//Global

@import '~foundation-sites/scss/util/util';

$title-nav-size: rem-calc(40);
$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 1.5;
$primaty-color: #3a3d66;
$secondary-color: #664f3a;
$third-color: #653a66;
$foundation-palette: (
  primary: #3a3d66,
  secondary: #664f3a,
  third: #653a66,
  warning: #ffae00,
  alert: #cc4b37,
);
$red: #e20025;
$error: $red;
$warning: #e87401;
$success: #2fe602;
$light-gray: #f2f4f7;
$medium-gray-alt: #c0c0c0;
$medium-gray: #cacaca;
$text-gray: #777777;
$dark-gray: #8a8a8a;
$black: #2a2a2a;
$greenStock: #69d388;
$white: #ffffff;
$orange: #fe7602;
$orangeStock: #dd974d;
$brown: #885e29;
$yellow: #dfaf1a;
$blue: #137ee5;
$azur: #25c8dc;
$green: #5fcd42;
$border-color: $medium-gray;
$body-background: $light-gray;
$body-font-color: $black;
$body-font-family: 'FireSans', sans-serif;
$body-antialiased: true;
$global-margin: 1rem;
$global-padding: 1rem;
$global-position: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 5px;
$global-menu-padding: 0.7rem 1rem;
$global-menu-nested-margin: 1rem;
$global-text-direction: ltr;
$global-flexbox: true;
$global-prototype-breakpoints: false;
$global-color-pick-contrast-tolerance: 0;
$global-transition: 0.3s;
$global-block-shadow: 0px 0px 6px #2a2a2a;
$global-height-buttom: rem-calc(40);
$global-height-input: rem-calc(40);
$small-font: rem-calc(14);
$medium-font: rem-calc(16);
$large-font: rem-calc(18);

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
);
$breakpoint-classes: (small, medium, large, xlarge);
