.button {
  width: 100%;
  height: $global-height-buttom;
  border-radius: $global-radius;
  color: $white;
  font-weight: bold;
  margin-top: rem-calc(20);
  font-size: $medium-font;
  &.primary {
    background-color: $primaty-color;
  }
  &.secondary {
    background-color: $secondary-color;
  }
  &:hover {
    cursor: pointer;
    &.primary {
      background-color: darken($color: $primaty-color, $amount: 10%);
    }
    &.secondary {
      background-color: darken($color: $secondary-color, $amount: 10%);
    }
  }
}
