.form {
  &-label {
    width: 100%;
    color: $primaty-color;
    font-size: $medium-font;
    font-weight: bold;
  }
  //INPUT
  &-input {
    display: flex;
    width: 100%;
    margin: rem-calc(20) 0 rem-calc(20) 0;
    > label {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      color: $primaty-color;
      font-size: $medium-font;
      font-weight: bold;
    }
    &.is-empty {
      > label {
        > input {
          border: 2px solid $red;
        }
      }
    }
  }
  //DATEPICKER INPUT
  &-datepicker {
    display: flex;
    width: 100%;
    margin: rem-calc(20) 0 rem-calc(20) 0;
    flex-direction: column;
  }
  //SELECT
  &-select {
    margin: rem-calc(20) 0 rem-calc(20) 0;
  }
}
