.css-yk16xz-control {
  height: rem-calc(40);
}

.css-g1d714-ValueContainer {
  height: rem-calc(40);
  display: flex !important;
  align-items: center !important;
  position: inherit !important;
}

.css-1uccc91-singleValue {
  display: flex !important;
  align-items: center !important;
  position: inherit !important;
  height: 100%;
}

.css-1wa3eu0-placeholder {
  display: none;
}
