.margin0 {
  margin: 0;
}
.padding0 {
  padding: 0;
}
.onRight {
  margin-left: auto;
}
.is-hidden {
  display: none;
}
// .mySelect__value-container {
//   height: 35px;
// }
// .mySelect__single-value {
//   position: initial !important;
//   display: flex;
//   align-items: center;
//   -webkit-transform: translateY(0) !important;
//   -ms-transform: translateY(0) !important;
//   transform: translateY(0) !important;
// }
// .mySelect__placeholder {
//   position: initial !important;
//   display: flex;
//   align-items: center;
//   -webkit-transform: translateY(0) !important;
//   -ms-transform: translateY(0) !important;
//   transform: translateY(0) !important;
// }
